/* top */

.box_logo   {
    width: 16%;
    height: 100%;
    background-color: var(--background-out3);
    border: 1px solid var(--border-color);
    border-right: none;
    border-bottom: none;
    padding-top: 12px;
}
.logo_01{
    display: block;
    margin: auto;
} 

.box_bars {
    width: 5%;
    height: 100%;
    background-color: var(--background-out3);
    border: 1px solid var(--border-color);
    border-bottom: none;
    padding-top: 20px;
}
.bars {
    cursor: pointer;
    color: var(--font-color2);
    display: block;
    text-align: center;
}

.box_center {
    width: 59%;
    background-color: var(--background-out3);
}

.box_select {
    width: 12%;
    background-color: rgb(133, 161, 68);
    background-color: var(--background-out3);
    display: flex;
}
.about, .mail, .notification {
    cursor: pointer;
    color: var(--font-color2);
    padding: 20px 20px;
}

.box_user {
    width: 8%;
    background-color: var(--background-out3);
}
.btn_user {
    display: flex;
    color: var(--font-user);
    cursor: pointer;
    padding: 26px 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

/* center */


.center_left {
    width: 16%;
    height: 121.2%;
    background-color: var(--background-out3);
    display: flex;
    flex-direction: column;
    position: relative;
}

.my_home {
    width: 100%;
    height: 280px;
    background-color: var(--background-out3);
    padding-bottom: 2px;
}

.my_home_img {
    height: 120px;
    width: 120px;
    display: block;
    margin: 10px auto 0px auto;
    border-radius: 50%;
}

.my_home_text {
    text-align: center;
    margin-top: 35px ;
}

.container_left {
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--font-color2);
    font-weight: 700;
}

.select_left {
    width: 90%;
    height: 80px;
    margin: 3px 5px 3px 5px;
    padding: 20px;
    background-color: var(--background-out3);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.fa-house-chimney, .fa-display,
.fa-chart-line, .fa-chart-bar,
.fa-images, .fa-clock-rotate-left,
.fa-gear {
    margin-right: 60px;
}

.select_left:hover {
    color: var(--font-select);
    background-color: var(--background-select);
    border: 5px solid var(--background-select);
    border-radius: 6%;
    border-left: 5px solid var(--font-select);
}

.center_right {
    width: 84%;
    height: 100%;
    background-color: var(--background-out3);
    color: var(--font-color1);
}

.title_center_right {
    color: #fff;
    width: 100%;
    height: 10%;
    background-color: var(--background-out3);
    font-size: 35px;
    font-weight: 300;
    padding: 15px 0px 10px 10px;
}

.main_center_right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.main_center_right-top {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
}

.box_camera {
    width: 55%;
    height: 400px;
    background-color: var(--background-out1);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.camera_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 0px 15px;
}

.text_camera {
    font-size: 22px;
}

.setting_camera {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    color: var(--font-color1);
}
.camera_display {
    font-weight: 300;
    font-size: 20px;
    width: 90%;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-out3);
    margin: 10px 10px 10px 10px;
    background-image: url(../img/camera_02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    justify-content: flex-start;
}
.data_show_camera-top {
    background-color: rgba(0, 0, 0, 0.222);
    width: 100%;
    height: 60px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.data_show_camera_left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.data_camera-day {
    flex: 1;
}
.data_camera-time {
    flex: 2;
}
.data_show_camera-bot {
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: flex-end;
}
.camera_0 {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.222);
    margin: 3px;
    border-radius: 50%;
    cursor: pointer;
}
.camera_0:hover {
    background-color: rgba(0, 0, 0, 0.444);
}

.box_infomation {
    width: 40%;
    height: 400px;
    background-color: var(--background-out3);
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.info_room {
    width: 100%;
    height: 200px;
    background-color: var(--background-out1);
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.info_room_circle_data {
    display: flex;
    width: 40%;
    height: 100%;
}

.outside_circle {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    background: conic-gradient(#ffad4e 0% 20%, #ef403b 20% 33%, #853da1 33% 45%,
    #198ffa 45% 84%, #00ca86 84% 100%);
    border-radius: 50%;
    padding: 25px;
}
.inside_circle {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: var(--background-out1);
    border-radius: 50%;
}

.info_room_text_data {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.info_room_text:first-child {
    width: 100%;
    height: 16.6%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}
.info_room_text {
    width: 100%;
    height: 16.6%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

.ponit_data {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}   
.point_show {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    margin-left: 15px;
}
.point_text {  
    margin-left: 5%;
}
.point_percent {
    width: 20%;
    height: 100%;
}























.info_system {
    width: auto;
    height: 200px;
    background-color: var(--background-out3);
    display: flex;
    flex-wrap: nowrap;
}

.info_day {
    width: 50%;
    height: 200px;
    background-color: var(--background-out1);
    display: flex;
    flex-direction: column;
}

.info_day_top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.info_day_text {
    margin: 8px 0px 0px 8px;
}
.fa-ellipsis-vertical {
    padding: 5px;
}

.info_day_data {
    width: 100%;
    height: 100px;
    background-color: var(--background-out1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
}

.day {
    height: var(--dayx);
    width: 7%;
    background-color: var(--color-data-on);
    border-top: 10px solid var(--color-data-on);
    border-radius: 50px;
    animation: load_data ease 2.5s;
}
.show_data_day {
    display: none;
    font-size: 20px;
    position: absolute;
    top: -38px;
    right: 14%;
}
.day:hover + .show_data_day {
    display: block;
}

.day:hover {
    border: #3c4d6c;
    box-sizing: content-box;
    background-color: var(--color-data-off);
    position: relative;
    top: -2px;
    left: 3px;
}

.text-data {
    font-size: 10px;
    display: none;
}

.info_day_sticker {
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 12px;
    font-weight: 400;
}
.info_day_btn {
    top: -4px;
    width: 100px;
    height: 30px;
    margin: auto;
    position: relative;
    /* background-color: aqua; */
}
.btn-day {
    position: absolute;
    top: 60%;
    right: 50%;
    transform: translate(50%, -50%);
    color: #fff;
    background-color: var(--color-data-off);
    border: 1px solid var(--color-data-off);
    border-radius: 100px;
    padding: 6px 40px;
    text-shadow: 2px 1px 1px #000;
    /* box-shadow: 3px 2px 2px var(--background-out3); */
    font-size: 12px;
}
.btn-day:hover {
    background-color: #4c6086;
    border: 1px solid #4c6086;
    text-shadow: 3px 2px 2px #000;
    box-shadow: 3px 5px 3px var(--background-out3);
    font-size: 12.1px;
}

.info_limit {
    width: 50%;
    height: 200px;
    background-color: var(--background-out1);
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info_limit_top {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.info_limit_text {
    margin: 8px 0px 0px 8px;
}

.info_limit_btn {
    top: -6px;
    width: 100px;
    height: 30px;
    margin: auto;
    position: relative;
}
.btn-limit {
    position: absolute;
    top: 60%;
    right: 50%;
    transform: translate(50%, -50%);
    color: #fff;
    background-color: var(--color-data-off);
    border: 1px solid var(--color-data-off);
    border-radius: 100px;
    padding: 6px 40px;
    text-shadow: 2px 1px 1px #000;
    /* box-shadow: 3px 2px 2px var(--background-out3); */
    font-size: 12px;
}
.btn-limit:hover {
    background-color: #4c6086;
    border: 1px solid #4c6086;
    text-shadow: 3px 2px 2px #000;
    box-shadow: 3px 5px 3px var(--background-out3);
    font-size: 12.1px;
}
.device_circle {
    width: 120px;
    height: 120px;
    background-color: var(--background-out1);
    position: relative;
    top: -10px;
}
.outer {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 4px 4px 8px 0.5px rgba(0, 0, 0, 0.25),
                -4px -4px 8px -1px rgba(110, 164, 225, 0.25);
}
.iner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: inset 4px 4px 8px 0.5px rgba(0, 0, 0, 0.25),
                inset -4px -4px 8px -1px rgba(110, 164, 225, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#circle_data {
    font-size: 22px;
    font-weight: 500;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 310;
    stroke-dashoffset: 96.1;
    animation: load_circle linear forwards 2s;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
}

.box_relax {
    width: 15%;
    height: 400px;
    background-color: var(--background-out1);
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_right {
    width: 98%;
    height: 400px;
    background-color: var(--background-out1);
}
.container_1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1% 1%;
    box-sizing: border-box;
    height: 400px;
    background-color: var(--background-out1);
}

.box_1 {
    border-left: 5px solid var(--background-out1);
    border-radius: 5px;
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    line-height: 0;
    position: relative;
    display: flex;
    opacity: 0.8;
    display: flex;
}
  
.box_1 > img {
    width: 200%;
    height: calc(100% - 30px);
    object-fit: cover; 
    transition: .5s;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
  
.box_1 > a {
    position: absolute;
    display: flex;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 2.6;
    bottom: 0;
    text-align: center;
    border: 5px solid #3c4d6c6e;
    border-radius: 5px;
    background-color: #3c4d6c62; 
    color: rgba(255, 255, 255, 0.777);
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
}
  
.box_1:hover { flex: 1 1 100%;
               opacity: 1;
}
.box_1:hover > img {
    width: 100%;
    height: 100%;
}

.main_center_right-bottom {
    width: 100%;
    height: 35%;
    background-color: var(--background-out1);
    margin-top: 0px;
}
.right_bottom-top {
    height: 30%;
    width: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right_bottom-top > p {
    font-size: 18px;
    margin-left: 15px;
}
.right_bottom-top > span {
    margin-right: 5px;
}
.right_bottom-bot {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.jamb {
    width: 1px;
    height: 60%;
    background-color: #555;
}
.right_bottom_bot-status {
    width: 19%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.right_bottom_bot-status > .title {
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.right_bottom_bot-status > .data {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}
.right_bottom_bot-status > .data > .value {
    display: flex;
    height: 100%;
    width: 60%;
    align-items: center;
    justify-content: flex-end;
    font-size: 50px;
}
.right_bottom_bot-status > .data > .data_info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 35%;
    align-items: left;
    justify-content: center;
    margin-left: 5px;
    font-weight: 400;
}


